body{
    background: #ececec url("https://res.cloudinary.com/onose/image/upload/v1581189630/k8mlb3k0aureyx88b9ji.png") repeat;
    text-align: left;
    line-height: 1.7em;
    color: black;
    font-family: "Open Sans" sans-serif; 
}
.container{
    margin: 0 auto;
    width: 80%;
    overflow: auto;
    clear: both;
}
header{
    background-color: black;
}
h1{
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: purple;
    float: left;
}
.img{
    width: 80px;
    height: 60px;
    margin-left: 42rem;
    
}
.sub-heading{
    background-color: purple;
    height: 40px;
    border-radius: 5px;
    border:peachpuff 1px solid;
    color: white;
}
.sub-heading ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.sub-heading ul li{
    float: left;
    display: inline;
    margin-right: 3px;
}
.sub-heading ul li a{
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    height: 20px;
}
.sub-heading ul li a:hover, .sub-heading ul li a.active{
    background-color: peachpuff;
    color: black;
    border-radius: 5px;
}
a{
    text-decoration: none;
}
a:hover{
    color:#6666;
}
.content{
    overflow: auto;
    width: 70%;
    float: left;
    background-image: url("https://res.cloudinary.com/onose/image/upload/v1584902341/bucakkopbaol3xhc9sue.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    border: peachpuff 1px solid;
    }
h2{
    color: rgb(71, 7, 71);
    font-size: 50px;
text-align: center;
padding: 1rem;
font-family: Brush Script MT, Brush Script Std, cursive;
}
p{
    font-size:16px;
    font-family: Andale Mono, monospace;
}
aside{
    width: 30%;
    float: left;
    color: black;
}
h3{
    font-size: 20px;
    font-family: fantasy;
    padding: 5px;
}
label, input{
    font-family:cursive;
}
form{
    border-radius:5px;
	overflow:auto;
	padding:10px 15px;
	margin-top:10px;
}
 aside .no1{
    border-radius:5px;
    background:url("https://res.cloudinary.com/onose/image/upload/v1584902341/bucakkopbaol3xhc9sue.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	margin: 10px 0 0 10px;
	padding:10px 15px;
	overflow:auto;
}
button{
    background-color: darkblue;
    color: whitesmoke;
    width: 100px;
    height: 50px;
    text-align: center;
    align-content: center;
    padding: 5px;
    margin: 10px;
}
button:hover{
    background-color: black;
}
.or{
    text-align: center;
    font-size: 20px;
    font-style: italic;
}
span{
    font-style:italic;
	color:#000000;
}
.readmore{
    float:right;
	color:#ffffff;
	padding:5px 9px;
	background:#c13046;
	border-radius:5px;
}
 a.readmore:hover{
	background:#000000;
}
.clr{
	clear:both;
}
footer{
    background:purple;
	height:40px;
	border:peachpuff 1px solid;
	border-radius:5px;
	margin-top:10px;
}
footer p{
    color: black;
	margin:0;
	padding:10px 0 0 0;
    text-align:center;
    height: auto;
    
}
/*media queries*/
@media only screen and (min-width : 768px) and (max-width : 980px) {
    .container{
        width: 95%;
    }
    .main{
        height: 150px;
    }
    h1{
        font-size: 50px;
    }
    .img{
      height: 120px;
      width: 120px;
      margin-left: 20px;
      padding: 2px;
      
    }
    .sub-heading{
        height:40px;
		border-radius:5px;
		border:peachpuff 1px solid;
    }
    .aside{
		overflow:auto;
		width:100%;
		float:none;
	}

	.content{
		width:100%;
		float:none;
    }
	.aside .no1{
		margin-left:0;
	}
}
@media only screen and (min-width : 569px) and (max-width : 767px) {
    .container{
        width: 95%;
    }
    .main{
        height: 200px;
    }
    h1{
        font-size: 50px;
        margin-top: -90px;
    }
    .img{
      height: 120px;
      width: 100px;
    margin-left: 420px;
    margin-top: 70px;   
    }
    .sub-heading{
        height:auto;
		border-radius:5px;
		border:peachpuff 1px solid;
		display:block;
		overflow:hidden;
		width:99%;
    }
    .sub-heading ul{
        padding:2% 1%;
		text-align:center;
		width:98%;
    }
    .sub-heading li{
		float:none;
		display:block;
		margin-right:0px;
		width:100%;
		border-bottom:solid peachpuff 1px;
    }
    .sub-heading li a{
        margin-bottom:2px;
		text-align:center;
    }
    .sub-heading li a:hover, .sub-heading li .active{
        display: block;
    }
    .content{
        overflow: auto;
        width: 99%;
        float: none;
    }
    .aside{
        width: 100%;
        float: none;
    }
    .aside .no1{
        margin-left: 0;
    }
}
@media only screen and (min-width : 240px) and (max-width: 568px) {
    .container{
        width: 95%;
    }
    .main{
        height: 70px;
        display: block;
        margin: auto;
        width: 95%;
    }
    h1{
        margin-top: -35px;
        font-size: 20px;
        ;
    }
    .img{
         height: 50px;
         width: 50px;
         display: block;
         margin:auto;
         padding-left: 170px;
         padding-top: 20px;
    }
    .sub-heading{
        height:auto;
		border-radius:5px;
		border:peachpuff 1px solid;
		display:block;
		overflow:hidden;
		width:99%;
    }
    .sub-heading ul{
        padding:2% 1%;
		text-align:center;
		width:98%;
    }
    .sub-heading li{
		float:none;
		display:block;
		margin-right:0px;
		width:100%;
		border-bottom:solid peachpuff 1px;
    }
    .sub-heading li a{
        margin-bottom:2px;
		text-align:center;
    }
    .sub-heading li a:hover, .sub-heading li .active{
        display: block;
    }
    .content{
        overflow: auto;
        width: 100%;
        float: none;
    }
    a.readmore{
		display:block;
		float:none;
		border-radius:5px;
        text-align:center;
    }
    .peace{
        height: 50%;
        width: 50%;
    }
    .aside{
        width: 100%;
        float: none;
    }
    .aside .no1{
        margin-left: 0;
    }
}